@using SocOps.Models

<div class="flex flex-col min-h-full bg-gray-50">

    <header class="game-header">
        <button @onclick="OnReset" class="abort-button">&#9664; Abort</button>
        <div class="game-title-block">
            <div>Soc Ops</div>
            <div>// Field Unit //</div>
        </div>
        <span class="classified-badge">Classified</span>
    </header>

    <p class="instructions-bar">Locate targets &bull; tap to mark</p>

    @if (HasBingo)
    {
        <div class="bingo-secured-bar">
            &#9679; Objective Secured &#9679;
        </div>
    }

    <div class="flex-1 flex items-center justify-center p-3">
        <BingoBoard
            Board="@Board"
            WinningSquareIds="@WinningSquareIds"
            OnSquareClick="@OnSquareClick" />
    </div>

</div>

@code {
    [Parameter]
    public List<BingoSquareData> Board { get; set; } = new();

    [Parameter]
    public HashSet<int> WinningSquareIds { get; set; } = new();

    [Parameter]
    public bool HasBingo { get; set; }

    [Parameter]
    public EventCallback<int> OnSquareClick { get; set; }

    [Parameter]
    public EventCallback OnReset { get; set; }
}
